/*
* Custom
* Copyright 2021, Daniel
*/

/*
* Smart Wizard
*/

.sw {
  position: relative;
}

.sw *,
.sw *::before,
.sw *::after {
  box-sizing: border-box;
}

.sw > .tab-content {
  position: relative;
  overflow: hidden;
}

.sw .toolbar {
  padding: 0.8rem;
}

.sw .toolbar > .btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  user-select: none;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  cursor: pointer;
}

.sw .toolbar > .btn.disabled,
.sw .toolbar > .btn:disabled {
  opacity: 0.65;
}

.sw > .nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 640px) {
  .sw > .nav {
    flex-direction: column !important;
    flex: 1 auto;
  }
}

.sw > .nav .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.sw > .nav .nav-link:hover,
.sw > .nav .nav-link:active,
.sw > .nav .nav-link:focus {
  text-decoration: none;
}

.sw > .nav .nav-link::-moz-focus-inner {
  border: 0 !important;
}

.sw > .nav .nav-link.disabled {
  color: #ccc !important;
  pointer-events: none;
  cursor: default;
}

.sw > .nav .nav-link.hidden {
  display: none !important;
}

.sw.sw-justified > .nav > li,
.sw.sw-justified > .nav .nav-link {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.sw.sw-dark {
  color: rgba(255, 255, 255, 0.95);
  background: #000;
}

.sw.sw-loading {
  user-select: none;
}

.sw.sw-loading::after {
  content: "";
  display: block;
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 2;
  transition: all 0.2s ease;
}

.sw.sw-loading::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 45%;
  width: 2rem;
  height: 2rem;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  z-index: 10;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* SmartWizard Theme: Dots */
.sw-theme-dots > .tab-content > .tab-pane {
  padding: 10px;
}

.sw-theme-dots .toolbar > .btn {
  color: #ffffff;
  background-color: #17a2b8;
  border: 1px solid #17a2b8;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  font-weight: 400;
}

.sw-theme-dots > .nav {
  position: relative;
  margin-bottom: 10px;
}

/*.sw-theme-dots > .nav::before {
  content: " ";
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #eeeeee;
  border-radius: 3px;
  z-index: 1;
}*/

.sw-theme-dots > .nav .nav-link {
  position: relative;
  margin-top: 40px;
}

.sw-theme-dots > .nav .nav-link::before {
  content: " ";
  position: absolute;
  display: block;
  top: -36px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background: #f5f5f5;
  color: #428bca;
  text-decoration: none;
  z-index: 98;
}

.sw-theme-dots > .nav .nav-link::after {
  content: " ";
  position: absolute;
  display: block;
  top: -28px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  z-index: 99;
}

.sw-theme-dots > .nav .nav-link.inactive {
  color: #999999;
  cursor: auto;
}

.sw-theme-dots > .nav .nav-link.inactive::after {
  background-color: #999999;
}

.sw-theme-dots > .nav .nav-link.active {
  color: #5bc0de !important;
  cursor: auto;
}

.sw-theme-dots > .nav .nav-link.active::after {
  background-color: #5bc0de !important;
}

.sw-theme-dots > .nav .nav-link.done {
  color: #5cb85c;
  cursor: auto;
}

.sw-theme-dots > .nav .nav-link.done::after {
  background-color: #5cb85c;
}

.sw-theme-dots > .nav .nav-link.disabled {
  color: #f9f9f9;
  cursor: auto;
}

.sw-theme-dots > .nav .nav-link.disabled::after {
  background-color: #f9f9f9;
}

.sw-theme-dots > .nav .nav-link.danger {
  color: #d9534f;
  cursor: auto;
}

.sw-theme-dots > .nav .nav-link.danger::after {
  background-color: #d9534f;
}

.sw-theme-dots.sw-dark {
  color: rgba(255, 255, 255, 0.95);
  background: #000;
}

.sw-theme-dots.sw-dark > .nav::before {
  background-color: #3c3c3c;
}

.sw-theme-dots.sw-dark > .nav .nav-link::before {
  background: #434343;
  color: black;
}

/*
*Typography and General
*/

h1,
h2 {
  color: #0066b3;
}

.page-section h3,
.page-section h4 {
  color: #0066b3;
}

h5,
h6 {
  font-weight: 500;
}

h4,
h3 {
  font-weight: 600;
}

body {
  font-size: 1.2rem;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90% !important;
}

hr {
  height: 1px !important;
}

.btn-cyan {
  background-color: #17a2b8;
  color: rgb(255, 255, 255);
  border-color: #029bb3;
}

.btn-primary:hover {
  color: #fff;
  background-color: #16a085;
}

.progress {
  background-color: rgba(62, 62, 62, 0.3);
  margin: 0 0 50px;
  padding: 0;
  position: relative;
  height: 32px;
}

.progress-bar {
  background-color: rgba(3, 121, 202, 0.99);
}

.progress-bar-text {
  font-size: 16px;
  font-weight: bold;
  left: 50%;
  margin-left: -38px;
  padding: 6px 0;
  position: absolute;
}

/*
* Modal
*/

.modal-body {
  font-size: 1rem;
}

.modal-footer {
  border: none;
  padding: 0 0.75rem 0.75rem;
  justify-content: center;
}

/*
* Navigation
*/
#mainNav {
  font-family: Raleway, sans-serif;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgb(2 59 109 / 39%);
}

#mainNav .navbar-toggler {
  background: #47b2e4;
}

.navbar-nav li.nav-item a.nav-link {
  color: #023b6d !important;
}

#mainNav .navbar-brand {
  color: #0066b3 !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #023b6d;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #023b6d;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #009bd9;
}

/*
* Hero
*/
section {
  overflow: hidden;
  padding: 60px 0;
}

section#hero {
  background-color: #f9f9f9;
  min-height: 70vh;
}

/*#hero .container {
  padding-top: 80px;
}*/

#hero h1 {
  margin: 0;
  letter-spacing: 0.5px;
  font-size: 63px;
  font-weight: 200;
  line-height: 73px;
  color: #124265;
  color: #0066b3;

  /*text-transform: none;*/
  -webkit-animation: fadeInLeft 0.5s ease-in-out;
  animation: fadeInLeft 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#hero h2 {
  margin: 15px 0 0 0;
  /*font-size: 24px;*/
  color: #2d405f;

  -webkit-animation: fadeInLeft 0.5s ease-in-out;
  animation: fadeInLeft 0.5s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#main-hero h2 {
  font-size: 24px;
  letter-spacing: -0.5px;
  color: #0066b3;
  color: #004c86;
  width: 70%;
  font-weight: 600;
}

#start-simulator,
#wizard-submit button {
  margin-top: 30px;
  font-weight: 700;

  -webkit-animation: fadeInUp 0.5s ease;
  animation: fadeInUp 0.5s ease;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@media (max-width: 1199.98px) {
  #hero h1 {
    font-size: 52px;
    line-height: 63px;
  }
}

/*@media (max-width: 767.98px) {

  #hero h1 {
    font-size: 42px;
    line-height: 45px;
  }
  #main-hero h2{
    width: 100%;
    font-size: 22px;
  }
}*/

@media (max-width: 767.98px) {
  #hero h1 {
    font-size: calc(1.375rem + 1.5vw);
    line-height: 1.2;
    font-weight: 700;
  }

  #main-hero h2 {
    width: 100%;
    font-size: calc(1.325rem + 0.9vw);
    font-weight: 400;
  }

  #start-simulator {
    display: block;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575.98px) {
  #main-hero h1 {
    font-size: 1.6rem;
    line-height: 1.3;
  }

  #main-hero h2 {
    font-size: 1.4rem;
  }

  h5,
  .h5 {
    font-size: 1.1rem;
  }
}

/*
* Results
*
*/

.page-title-results {
  border-bottom: 2px solid #0066b3;
}

#results {
  background-color: #f9f9f9;
}

/*#results .container {
  padding-top: 80px;
}*/

#results h2,
#results h3,
#results h4 {
  color: #0066b3;
}

#results ul {
  width: 80%;
  font-size: 1rem;
}

#results .card {
  border: none;
}

.info-card_icon {
  height: 100px;
  width: 100px;
  margin: 0 auto 25px auto;
  border: 5px solid #4caf50;
  border-radius: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#card-danger {
  border: 5px solid rgb(244 67 54);
}

.info-card_icon .info-card_img-icon {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.bi {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;
}

.btn-labeled {
  text-align: start;
  border-width: 1px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-bottom: 0;
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem 0 0 0.5rem;
}

.btn-results {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comments {
  font-size: 0.87rem;
}

/*
* Simulador
*
*/

#smartwizard {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  padding: 10px 20px;
  text-align: center;
  background-color: white;
  border-top: 4px solid #fff;
  border-top-color: #47b2e4;
  border-radius: 5px;
}

#smartwizard .title {
  margin-bottom: 25px;
}

#smartwizard h2 {
  margin: 0;
  color: #0066b3;
}

.tab-content {
  min-height: 250px;
  min-width: 100%;
}

.sw-theme-dots > .nav::before {
  height: 10px;
}

#smartwizard ul.nav li:nth-child(1) a:before {
  content: "1";
}

#smartwizard ul.nav li:nth-child(2) a:before {
  content: "2";
}

#smartwizard ul.nav li:nth-child(3) a:before {
  content: "3";
}

#smartwizard ul.nav li:nth-child(4) a:before {
  content: "4";
}

#smartwizard ul.nav li:nth-child(5) a:before {
  content: "5";
}

#smartwizard ul.nav li:nth-child(6) a:before {
  content: "6";
}

.sw-theme-dots > .nav {
  overflow: hidden;
}

.sw-theme-dots > .nav .nav-link::before {
  z-index: 99999;
  color: #ffffff;
  top: -39px;
  width: 35px;
  height: 35px;
  line-height: 31px;
}

.sw-theme-dots > .nav .nav-link.active::after {
  /*-webkit-animation: progress-bar-stripes 1s linear infinite;*/
  animation: progress-bar-stripes 1s linear infinite;
  background-color: #39a324 !important;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
}

.sw-theme-dots > .nav .nav-link.active::before {
  background-color: #5bc0de;
}

.sw-theme-dots > .nav .nav-link::after {
  width: 100%;
  height: 10px;
  left: -50%;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  transition: all 0.35s ease 0.1s;
}

.sw-theme-dots > .nav .nav-link.inactive::after {
  background-color: #eaf0f4;
}

.sw-theme-dots > .nav .nav-link.done::after {
  /*-webkit-animation: progress-bar-stripes 1s linear infinite;*/
  animation: progress-bar-stripes 1s linear infinite;
  background-color: #5cb85c;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  background-size: 1rem 1rem;
}

.nav .nav-link.active::after {
  background-color: #39a324 !important;
}

.sw-theme-dots > .nav .nav-link.done:before {
  background-color: #5cb85c;
}

/*
* Simulator
* Questão 1
*/

#qmedicine {
  margin-top: 20px;
}

#qmedicine .input-group {
  max-width: 250px;
  margin: auto;
}

/*
* Simulator
* Questão 4
*/
#family-group {
  max-width: 250px;
  margin: auto;
}

button.info {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  background-color: #ffffff00;
  border: none;
}

a.info:before {
  position: absolute;
  content: "";
  top: -10px;
  right: -10px;
  left: -10px;
  bottom: -10px;
}

/*
* Simulator  Submit
*/

#wizard-submit button {
  padding: 0.5em 3em;
  margin: auto;
  font-size: 1.2rem;
  max-width: 275px;
  height: 60px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%), inset 0 -2px 0 rgb(0 0 0 / 22%);
  transition: 0.3s;
  font-weight: 700;
}

/*.sw-theme-dots > .nav .nav-link::before {
	-webkit-box-shadow: inset 2px 2px 2px 0px rgb(0 0 0 / 20%);
   box-shadow: inset 2px 2px 2px 0px rgb(0 0 0 / 20%);
  background: #ddd;
  border: 2px solid #FFF;
	text-align: center;
  text-shadow: 1px 1px rgb(0 0 0 / 20%);
}*/

/*
* Cookie Banner
*/
.cookie-banner {
  background-color: rgba(248, 248, 248, 0.98);
  color: #1a2530;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  font-size: 1rem;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;
  border-radius: 0px;
  transition: opacity 1s ease;

  display: none;
}

/*
* Buttons Yes/No Simulator
*/

.button-wrap {
  position: relative;
  text-align: center;
  /*top: 50%;*/
  margin-top: 2em;
}

@media screen and (max-width: 40em) {
  .button-wrap {
    margin-top: 1em;
  }
}

.button-label {
  display: inline-block;
  padding: 0.5em 3em;
  margin: 0.5em;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #efefef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  transition: 0.3s;
  user-select: none;
}

.button-label p {
  font-size: 1em;
  margin: 0.5em 0;
}

.button-label:hover {
  background: #d6d6d6;
  color: #101010;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}

.button-label:active {
  transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2),
    inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}

@media screen and (max-width: 40em) {
  .button-label {
    padding: 0em 2em 3px;
    margin: 0.25em 0.7em;
  }
}

.yes-button:checked + .button-label {
  background: #2ecc71;
  color: #efefef;
}

.yes-button:checked + .button-label:hover {
  background: #29b765;
  color: #e2e2e2;
}

.no-button:checked + .button-label {
  background: #d91e18;
  color: #efefef;
}

.no-button:checked + .button-label:hover {
  background: #c21b15;
  color: #e2e2e2;
}

#maybe-button:checked + .button-label {
  background: #4183d7;
  color: #efefef;
}

#maybe-button:checked + .button-label:hover {
  background: #2c75d2;
  color: #e2e2e2;
}

.hidden {
  display: none;
}

/*
* Whatsapp Button
*/
#whatsappChatButton {
  height: 50px;
  width: 270px;
  border-radius: 25px;
  background-color: rgb(77, 194, 71);
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.wa-messenger-svg-whatsapp {
  width: 46px;
  height: 46px;
  fill: rgb(255, 255, 255);
  z-index: 1;
}
#whatsappChatCTATextPreview {
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

/*
* MEDIA QUERIES
* // X-Small devices (portrait phones, less than 576px)
*    @media (max-width: 575.98px) { ... }
*/
@media (max-width: 575.98px) {
  #smartwizard {
    padding: 10px 8px;
  }

  #main-simulator {
    padding-left: 3px !important;
    padding-right: 3px !important;
  }

  h4,
  .h4 {
    font-size: 1.2rem;
  }

  #results ul {
    width: 100%;
  }

  .w-85 {
    width: 100% !important;
  }
  .w-90 {
    width: 100% !important;
  }
  #whatsappChatButton {
    width: 235px;
  }
}

/*
*ANIMATIONS
*
*/

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-3rem, 0, 0);
    transform: translate3d(-3rem, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-3rem, 0, 0);
    transform: translate3d(-3rem, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes progress-bar-stripes {
  0% {
    background-position: 1rem 0;
  }

  100% {
    background-position: 0 0;
  }
}

h1,
h2 {
  color: #0066b3 !important;
}
